{% extends 'PostApp/padre.html' %}

{% block titulo %}Actores{% endblock %}

{% block encabezado %}Actores{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                
                <h4>Informacion de actor</h4>
                <p>nombre: {{actor.nombre}}</p> 
                <p>edad: {{actor.edad}}</p>     
                {% if actor.foto.is_valid %}
                <img src="{{ actor.foto.url }}"  height="500px">
                {% endif %}
                <p>biografia: {{actor.biografia}}</p>
                
                <p>
                    <a href="{% url 'actores-list' %}">Regresar</a>
                </p>
                

                
            </div>
        </div>
    </div>
</section>

{% endblock %}