{% extends 'PostApp/padre.html' %}

{% block titulo %}Peliculas{% endblock %}

{% block encabezado %}Peliculas{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                {% if mi_formulario.errors %}
                    <p style="color: red;"> Los datos estan mal, reviselos</p>
                {% endif %}


                <form action="{%url 'editar-pelicula' pelicula_id%}" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ mi_formulario.as_table }}
                    </table>

                    <input type="submit" value="Editar">
            </div>
        </div>
    </div>
</section>

{% endblock %}