{% extends 'PostApp/padre.html' %}

{% block titulo %}Peliculas{% endblock %}

{% block encabezado %}Peliculas{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                
                <h4>Informacion de la peliculas</h4>
                <p>nombre: {{pelicula.nombre}}</p> 
                <p>Fecha de estreno: {{pelicula.estreno}}</p>     
                <p>director: {{pelicula.direc}}</p> 
                <p>genero: {{pelicula.genero}}</p>
                {% if pelicula.portada.is_valid %}
                <img src="{{ pelicula.portada.url }}"  height="500px">
                {% endif%}
                <p>reseña: {{pelicula.review}}</p>
                
                <p>
                    <a href="{% url 'leer-peliculas' %}">Regresar</a>
                </p>
                

                
            </div>
        </div>
    </div>
</section>

{% endblock %}